@charset "UTF-8";
/*animer les lettres*/
@keyframes myLoader {
  0% {
    font-size: 1em;
    color: #9356DC;
    opacity: 1;
  }
  50% {
    font-size: 1em;
    color: #FF79DA;
    opacity: 1;
  }
  100% {
    font-size: 2em;
    color: #000;
    opacity: 1;
  }
}
/* pour animer la ligne verte*/
@keyframes glow {
  0% {
    border-color: #99E2D0;
    width: 15%;
  }
  50% {
    border-color: #99E2D0;
    width: 50%;
  }
  100% {
    border-color: #99E2D0;
    width: 15%;
  }
}
/* pour faire disparaitre le loader*/
@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
/* animer les plats*/
@keyframes plats {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  80% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  background: #fff;
  height: 100%;
}

.body {
  height: 100%;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1.5;
}
@media screen and (max-width: 860px) {
  body {
    font-size: 1.2rem;
  }
}

h1, h2 {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-weight: 800;
  margin: 10px 0;
}

.resto__heading h2 {
  font-family: "Shrikhand", sans-serif;
  font-size: 3rem;
  font-weight: 800;
}
@media screen and (max-width: 860px) {
  .resto__heading h2 {
    font-size: 2.5rem;
  }
}

/* boutons Explorer et Commander*/
.btn {
  position: relative;
  z-index: 1;
  border-radius: 20px;
  margin: 20px 0;
  padding: 10px 20px;
  text-align: center;
  color: #fff;
  text-align: center;
  width: fit-content;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 0px 0px 14px 2px #CDCDCD;
}
.btn::after {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 20px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top left, #ff93e1, #a16be0);
  opacity: 0;
  transition: opacity 330ms;
}
.btn:hover {
  box-shadow: 0px 0px 14px 2px #9356DC;
}
.btn:hover::after {
  opacity: 1;
}
.btn a {
  color: #fff;
}
@media screen and (max-width: 860px) {
  .btn {
    margin: 20px auto;
  }
}
.btn.btn-order {
  /*btn commander*/
  align-self: flex-end;
}
@media screen and (max-width: 860px) {
  .btn.btn-order {
    align-self: center;
    width: 50%;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 860px) and (max-width: 1200px) {
  .btn.btn-order {
    align-self: center;
    margin-bottom: 40px;
  }
}

/* animation des coeurs*/
.btn-like {
  height: 4rem;
  width: 4rem;
  border: 0 solid transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: #000;
}
.btn-like::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 330ms;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
}
.btn-like .fa-heart {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: lighten;
  font-size: 3rem;
  background-color: #F8F8F8;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: opacity 330ms 200ms;
}
.btn-like .fa-heart::before {
  content: "";
}
.btn-like:hover::before {
  opacity: 1;
}
.btn-like:hover .btn-like__empty {
  opacity: 0;
}

.loader {
  z-index: 10;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: #F8F8F8;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  opacity: 1;
  animation-name: loader;
  animation-delay: 3.5s;
  animation-fill-mode: both;
}
.loader__title {
  position: absolute;
  font-family: "Shrikhand", sans-serif;
  font-size: 4rem;
  text-transform: lowercase;
  font-weight: 500;
}
.loader__title .title__letter {
  opacity: 0;
  color: #000;
  animation: myLoader 1500ms linear forwards;
  animation-delay: 150ms;
}
.loader__title .title__letter--1 {
  animation-delay: 187.5ms;
}
.loader__title .title__letter--2 {
  animation-delay: 375ms;
}
.loader__title .title__letter--3 {
  animation-delay: 562.5ms;
}
.loader__title .title__letter--4 {
  animation-delay: 750ms;
}
.loader__title .title__letter--5 {
  animation-delay: 937.5ms;
}
.loader__title .title__letter--6 {
  animation-delay: 1125ms;
}
.loader__title .title__letter--7 {
  animation-delay: 1312.5ms;
}
.loader__title .title__letter--8 {
  animation-delay: 1500ms;
}
.loader__underline {
  margin-top: 150px;
  width: 15%;
  border-bottom: 4px solid #99E2D0;
  margin-bottom: 20px;
  animation: glow 3000ms linear alternate both;
  animation-delay: 250ms;
}

.article__check .check__price {
  transform: translateX(0);
  transition: transform 300ms linear 50ms;
}
.article__check .check__slide .slide__bar {
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 350ms linear;
}
.article__check .check__slide .slide__bar .fa-check-circle {
  transform: rotate(-180deg);
  transition: transform 300ms linear 50ms;
}

.article:hover .article__description {
  flex-grow: 0;
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-wrap: nowrap;
}
.article:hover .check__price {
  transform: translateX(-60px);
}
.article:hover .check__slide .slide__bar {
  transform: scaleX(1);
}
.article:hover .check__slide .fa-check-circle {
  transform: rotate(0deg);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0;
}
header .logo h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 500;
  color: #000;
  font-size: 4rem;
}
@media screen and (max-width: 860px) {
  header {
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 98%;
  margin: 0 auto;
  padding: 20px 0;
  min-height: 100vh;
}
.container.container-menus {
  position: relative;
}
@media screen and (max-width: 860px) {
  .container {
    width: 100%;
    padding: 0;
  }
}

footer {
  margin-top: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background: #282828;
  padding: 20px;
}
footer.footer-menus {
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0;
}
@media screen and (max-width: 860px) {
  footer.footer-menus {
    flex-direction: column;
    margin-top: 0;
    height: 200px;
    padding-top: 20px;
  }
}
@media screen and (max-width: 860px) {
  footer {
    flex-direction: column;
    margin-top: 0;
  }
}
footer .logo h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 4rem;
}
@media screen and (max-width: 860px) {
  footer .logo h1 {
    font-size: 2rem;
  }
}
footer ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
@media screen and (max-width: 860px) {
  footer ul {
    flex-direction: column;
  }
}
footer ul a {
  margin: 10px;
  color: #fff;
}

/* Positionnement sur la page d'accueil */
.localisation {
  background-color: #D3D3D3;
  padding: 5px;
  border-radius: 20px;
}
@media screen and (max-width: 860px) {
  .localisation {
    border-radius: 0;
    padding: 0;
    width: 100%;
    text-align: center;
  }
}

.form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 20px;
  background-color: #D3D3D3;
  font-size: 1.6rem;
}
.form label {
  padding: 10px;
  cursor: pointer;
}
.form input[type=text] {
  padding: 10px;
  background-color: #D3D3D3;
  border: none;
  font-weight: bold;
  color: #000;
  appearance: none;
  border-radius: 20px;
  font-size: 1.6rem;
}
.form input[type=text]:placeholder-shown {
  font-weight: lighter;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F8F8F8;
  margin: 20px auto;
  padding: 20px;
  border-radius: 20px;
}
@media screen and (max-width: 860px) {
  .presentation {
    border-radius: 0;
    margin: 0;
    text-align: center;
  }
}

/* section focntionnement */
.functioning {
  margin: 40px 0;
  padding: 20px;
}
.functioning ol {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
@media screen and (max-width: 860px) {
  .functioning ol {
    flex-direction: column;
    margin: auto;
  }
}
.functioning ol li {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  min-width: 300px;
  margin: 20px;
  border-radius: 20px;
  padding: 20px;
  background-color: #F8F8F8;
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 14px 2px #CDCDCD;
}
@media screen and (max-width: 860px) {
  .functioning ol li {
    min-width: 200px;
    width: 90%;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px 10px;
    font-size: 1.5rem;
  }
}
.functioning ol li .number {
  position: absolute;
  left: -3%;
  padding: 0;
  font-size: 1.4rem;
  font-weight: lighter;
  background-color: #9356DC;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  border-radius: 50%;
  color: #fff;
  text-align: center;
}
.functioning ol li:hover {
  background-color: #f2eafb;
}
.functioning ol li:hover .fas {
  color: #9356DC;
}

/* section des restaurants*/
.restaurants {
  padding: 20px;
  background: #F8F8F8;
  border-radius: 20px;
}
@media screen and (max-width: 860px) {
  .restaurants {
    border-radius: 0;
  }
}

.restaurants__items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
}
.restaurants__items .card {
  width: 45%;
  height: 300px;
  border-radius: 20px;
  margin: 20px;
  position: relative;
  cursor: pointer;
  box-shadow: 0px 0px 14px 2px #CDCDCD;
}
@media screen and (max-width: 860px) {
  .restaurants__items .card {
    width: 100%;
    margin: 20px auto;
    justify-content: center;
    justify-items: center;
  }
}
.restaurants__items .card .card__new {
  /* encarte "nouveau" */
  position: absolute;
  top: 5%;
  right: 5%;
  padding: 10px 20px;
  border-radius: 5px;
  color: #1b6150;
  background-color: #99E2D0;
  font-weight: bold;
}

/* cartes cliquables des restaurants*/
.card__figure {
  height: 300px;
  background-color: #fff;
  border-radius: 20px;
}
.card__figure .figure__img {
  height: 75%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card__figure .figure__description {
  display: flex;
  justify-content: space-between;
  height: 25%;
  padding: 10px 20px 20px 20px;
  background: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.card__figure .figure__description .fa-heart {
  background-color: #fff;
}

/*  logo de des pages restaurants*/
.logo-menus {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  background-color: #fff;
  padding: 0 20px;
}
@media screen and (max-width: 860px) {
  .logo-menus {
    flex-direction: row;
    margin: 0;
    position: fixed;
    z-index: 2;
  }
}
.logo-menus .fa-arrow-left {
  margin-right: 50px;
  font-size: 2rem;
}

.resto-page {
  position: relative;
  height: auto;
  margin-bottom: 140px;
}
@media screen and (max-width: 860px) {
  .resto-page {
    margin-bottom: 200px;
    margin-top: 100px;
  }
}

.image {
  height: 500px;
  width: 100%;
  z-index: 0;
}

/*les menus*/
.resto {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #F8F8F8;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 20px;
  margin-top: -50px;
  z-index: 1;
}
.resto .resto__heading {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.resto .resto__menu {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 860px) {
  .resto .resto__menu {
    flex-direction: column;
  }
}
@media screen and (min-width: 860px) and (max-width: 1200px) {
  .resto .resto__menu {
    flex-direction: column;
  }
}

/*blocs des menus*/
.menu__category {
  width: 30%;
}
@media screen and (max-width: 860px) {
  .menu__category {
    width: 100%;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 860px) and (max-width: 1200px) {
  .menu__category {
    width: 70%;
    margin: 0 auto 40px auto;
  }
}
.menu__category h2 {
  text-transform: uppercase;
}
.menu__category h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: #99E2D0;
}

/*produits de chaque menu*/
.article {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: #fff;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0px 0px 14px 2px #CDCDCD;
  /* animation*/
  animation: plats 600ms both;
}
.article--1 {
  animation-delay: 250ms;
}
.article--2 {
  animation-delay: 500ms;
}
.article--3 {
  animation-delay: 750ms;
}
.article--4 {
  animation-delay: 1000ms;
}
.article__description {
  padding: 10px;
  width: 60%;
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.article__check {
  width: 60px;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
}
.article__check .check__price {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: flex-end;
  font-weight: bold;
  padding: 10px;
}
.article__check .check__slide {
  position: relative;
  display: flex;
  text-align: center;
  width: 100%;
  height: 100%;
}
.article__check .check__slide .slide__bar {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #99E2D0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.article__check .check__slide .slide__bar .fa-check-circle {
  background-color: #99E2D0;
  color: #fff;
  font-size: 2.5rem;
  margin: auto;
}

/*# sourceMappingURL=style.css.map */
