.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    &.container-menus{
        position: relative;
        @include desktop{
            width: 98%;
            padding: 0;
        }
        @include medium-device{
            width: 98%;
            padding: 0;
        }
    }
    @include desktop{
        width: 98%;
        padding: 0 $layout-padding ;
    }
    @include medium-device{
        width: 98%;
        padding: 0 $layout-padding ;
    }
}