footer{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    justify-content: space-between;
    background: $color-background-footer;
    padding: $layout-padding;
    width: 100%;
    &.footer-menus{
        position: absolute;
        flex-direction: column;
        margin-top: 0;
        height: 200px;
        bottom: 0;
        left: 0;
        right: 0;
        @include desktop{
            height: 100px;
            width: 100%;
        }
        @include medium-device{
            height: 100px;
        }
    }
    @include desktop{
        flex-flow: row wrap; 
        margin-top: 40px;
    }
    @include medium-device{
        flex-flow: row wrap;
        margin-top: 40px;
    }
    .logo h1{
        font-family: "Shrikhand", sans-serif;
        font-weight: 500;
        color: #fff;
        font-size: 2rem;
        @include desktop{
            font-size: 4rem;
        }
        @include medium-device{
            font-size: 4rem;
        }
    }
    ul{
        display: flex;
        flex-direction: column;
        
        justify-content: space-between;
        @include desktop{
            flex-flow: row wrap;
        }
        @include medium-device{
            flex-flow: row wrap;
        }
         a {
            margin: 10px;
            color: #fff;
        }
    }
}