header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
    .logo h1{
        font-family: "Shrikhand", sans-serif;
        font-weight: 500;
        color: #000;
        font-size: 4rem;
    }
    @include medium-device{
        width: 98%;
        flex-direction: row;
    }
    @include desktop{
        flex-direction: row;
        width: 98%;
    }
    
}

