header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0;
    .logo h1{
        font-family: "Shrikhand", sans-serif;
        font-weight: 500;
        color: #000;
        font-size: 4rem;
    }
    @include small-device{
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
    }
}

