

.article__check{
    .check__price{
        transform: translateX(0);
        transition: transform 300ms linear 50ms;
    }
    .check__slide{
        .slide__bar{
            transform-origin: right;
            transform :scaleX(0);
            transition: transform 350ms linear;
            .fa-check-circle{
                transform: rotate(-180deg);
                transition: transform 300ms linear 50ms;
            }
        }
    }
}


//animation check
.article:hover {
    .article__description{
        flex-grow: 0;
        flex-shrink: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        flex-wrap: nowrap;
    }
    .check__price{
        transform: translateX(-60px);
    }
    .check__slide{
        .slide__bar{
            transform :scaleX(1)
        }
        .fa-check-circle{
            transform: rotate(0deg);
        }
    }
    
}