/* boutons Explorer et Commander*/
.btn {
    position: relative;
    z-index: 1;
    border-radius: 20px;
    margin: 20px 0;
    padding: 10px 20px;
    text-align: center;
    color: $color-white;
    text-align: center;
    width: fit-content;
    background: $btn-bg;
    @include main-shadow;
    &::after{
        content: "";
        position: absolute;
        z-index: -1;
        border-radius: 20px;
        top: 0;
        right: 0;
        bottom: 0;  
        left: 0;
        background: $btn-bgLight;
        opacity: 0;
        transition: opacity 330ms;

    }
    &:hover{
        @include main-shadow($color: $color-shadow-btn);
        &::after{
            opacity: 1;
        }
    }
    a{
        color: $color-white;
    }
    @include small-device{
        margin: 20px auto;
    }
    &.btn-order{ /*btn commander*/
        align-self: flex-end;
        @include small-device{
            align-self: center;
            width: 50%;
            margin-bottom: 40px;
        }
        @include medium-device{
            align-self: center;
            margin-bottom: 40px;
        }
    }
}

/* animation des coeurs*/
.btn-like {
    height: 4rem;
    width: 4rem;
    border: 0 solid transparent;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    background-color: #000;
    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: opacity 330ms;
        background: $btn-bg;
    }
    .fa-heart{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        mix-blend-mode: lighten;
        font-size: 3rem;
        background-color: $color-background;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 1;
        transition: opacity 330ms 200ms;
        &::before{
            content: "\f004";
        }
    }
    &:hover {
        &::before {
            opacity: 1;
        }
        .btn-like__empty{
            opacity: 0;
        }
    }
}

