body{
    font-family: "Roboto", sans-serif;
    color: #000;
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 1.4;
    @include desktop{
        font-size: 1.5rem;
    }
}

h1, h2{
    font-family: "Roboto", sans-serif;
    color: #000;
    font-weight: 800;
    margin: 10px 0;
}
.resto__heading h2{
    font-family: "Shrikhand", sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    @include desktop{
        font-size: 3rem;
    }
}
