/*  logo de des pages restaurants*/
.logo-menus{
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    background-color: $color-white;
    padding: 0 $layout-padding;
    margin: 0;
    position: fixed;
    z-index: 2;
    @include desktop{
        position: static;
    }
    @include medium-device{
        position: static;
    }
    .fa-arrow-left{
        margin-right: 50px;
        font-size: 2rem;
    }
}

.resto-page{
    position: relative;
    height: auto;
    margin-bottom: 200px;
    margin-top: 100px;
    @include desktop{
        margin-bottom: 140px;
        margin-top: auto;
    }
    @include medium-device{
        margin-bottom: 140px;
        margin-top: auto;
    }
}
.image{
    height: 500px;
    width: 100%;
    z-index: 0;
    @include desktop{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    @include medium-device{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    img{
        @include desktop{
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        @include medium-device{
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
    }
}

/*les menus*/
.resto{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: $color-background;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: $layout-padding;
    margin-top: -50px;
    z-index: 1;
    .resto__heading{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    .resto__menu{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include desktop{
            flex-flow: row nowrap;
        }
    }
}
/*blocs des menus*/
.menu__category{
    width: 100%;
    margin-bottom: 40px;
    @include desktop{
        width: 30%;
    }
    @include medium-device{
        width: 80%;
        margin: 0 auto 40px auto
    }
    h2{
        text-transform: uppercase;
        &::after{
            content: '';
            display: block;
            width: 50px;
            height: 3px;
            background: $color-tertiary;
        }
    }
}
/*produits de chaque menu*/
.article{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: $color-white;
    margin: 20px auto;
    border-radius: 10px;
    @include main-shadow;
    /* animation apparition des plats*/
    animation: plats 600ms both;
    @for $i from 1 through $num-plat {
        &--#{$i} {
          animation-delay: $plat-anim-delay * $i;
        }
      }
    &__description{
        padding: 10px;
        width: 60%;
        flex-grow: 1;
        p, h3{
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    &__check{
       width: 60px;
        position: relative;
        display: flex;
        flex-flow: row nowrap;
    }  
}

/* animation du glissement de la cloche*/
.check__price{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: flex-end;
    font-weight: bold;
    padding: 10px;
    transform: translateX(0);
    transition: transform 300ms linear 50ms;
}
.check__slide{
    position: relative;
    display: flex;
    text-align: center;
    width: 100%;
    height: 100%;
    .slide__bar{
        display: flex;
        height: 100%;
        width: 100%;
        background-color: $color-tertiary;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        transform-origin: right;
        transform :scaleX(0);
        transition: transform 350ms linear;
        .fa-check-circle{
            background-color: $color-tertiary;
            color: $color-white;
            font-size: 2.5rem;
            margin: auto;
            transform: rotate(-180deg);
            transition: transform 300ms linear 50ms;
        }
    }
}
//animation de la cloche à l'état :hover
.article:hover {
    .article__description{
        flex-grow: 0;
        flex-shrink: 1;
    }
    p, h3{
        flex-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .check__price{
        transform: translateX(-60px);
    }
    .check__slide{
        .slide__bar{
            transform :scaleX(1)
        }
        .fa-check-circle{
            transform: rotate(0deg);
        }
    } 
}