/*  logo de des pages restaurants*/
.logo-menus{
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    background-color: $color-white;
    padding: 0 $layout-padding;
    @include small-device{
        flex-direction: row;
        margin: 0;
        position: fixed;
        z-index: 2;
    }
    .fa-arrow-left{
        margin-right: 50px;
        font-size: 2rem;
    }
}

.resto-page{
    position: relative;
    height: auto;
    margin-bottom: 140px;
    @include small-device{
        margin-bottom: 200px;
        margin-top: 100px;
    }
}
.image{
    height: 500px;
    width: 100%;
    z-index: 0;
}

/*les menus*/
.resto{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: $color-background;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: $layout-padding;
    margin-top: -50px;
    z-index: 1;
    .fa-heart{
        margin-left: 40px;
    }
    .resto__menu{
        display: flex;
        justify-content: space-between;
        @include small-device{
            flex-direction: column;
        }
        @include medium-device{
            flex-direction: column;
        }
    }
}

.menu__category{
    width: 30%;
    @include small-device{
        width: 100%;
        margin-bottom: 40px;
    }
    @include medium-device{
        width: 70%;
        margin: 0 auto 40px auto
    }
    h2{
        text-transform: uppercase;
    }
    .horizontal-line{
        width: 50px;
        color: $color-tertiary;
        border: none;
        border-top: 3px solid $color-tertiary;
        margin-bottom: 20px;
    }
    .article{
        background-color: $color-white;
        padding: 10px;
        margin: 20px auto;
        border-radius: 20px;
        @include main-shadow;
        p{
            display: flex;
            justify-content: space-between;
            .price{
                font-weight: bold;
            }
        }
    }
}
