//variables pour déterminer les breakpoints
$breakpoints: (
    small: 860px,
    medium: 1200px,
);

//media queries desktop
@mixin desktop {
    @media screen and (min-width: map-get( $breakpoints , medium)){
        @content ;
    }
};

 //media queries écrans moyens
@mixin medium-device {
    @media screen and (min-width: map-get($breakpoints , small)) and (max-width: map-get($breakpoints, medium)){
        @content ;
    }
};
 //shawdow
 @mixin main-shadow ($color: $color-shadow) {
     box-shadow: 0px 0px 14px 2px $color;
 };
